### Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import RobustScaler
from scipy.stats.mstats import winsorize
import scipy.stats as stats
from scipy.stats import shapiro
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder

### Importing Dataset

In [2]:
train_df = pd.read_csv('./dataset/train.csv')
test_df = pd.read_csv('./dataset/test.csv')

Create a copy of train data frame

In [3]:
copy_train_df = train_df.copy()

In [ ]:
# get basics of dataframe
def get_dataframe_shape(df):
    return df.shape

def get_dataframe_info(df):
    return df.info()

def get_describe(df):
    return df.describe()

def get_dataframe_head(df, limit = None):
    return df.head(limit)

def get_dataframe_tail(df, limit = None):
    return df.tail(limit)

def get_dataframe_columns(df):
    return df.columns

def get_features_value_counts(df, column):
    return df[column].value_counts()

def get_dataframe_particular_columns(df, columns, limit = None):
    return df[columns].head(limit)

def check_skew_value(df, column):
    return df[column].skew()

In [ ]:
def get_boxplot(df, column):
    sns.boxplot(x = df[column], data = df)
    plt.title(column)
    plt.show()

def get_histogram(df, column, bins = None):
    plt.hist(df[column], bins = bins, edgecolor = 'black')
    plt.title(column)
    plt.show()

def get_kde_plot(df, column):
    sns.kdeplot(df[column], fill= True)
    plt.title(column)
    plt.show()

In [8]:
get_dataframe_head(copy_train_df, 3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S